
    <div class="site-wrapper">

            <div class="site-wrapper-inner">
      
              <div class="container">
      
                <div class="masthead clearfix">
                  <div class="container inner">
                    <h3 class="masthead-brand">Corretor Gramatical</h3>
                    <nav>
                      <ul class="nav masthead-nav">
                        <li class="active"><a href="checker">Checker</a></li>
                        <li><a href="#">Sobre</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    