<div class="inner cover">
  <h1 *ngIf="stage === 1" class="cover-heading">Diga "começar" para testar!</h1>
  <h1 *ngIf="stage === 2" class="cover-heading">Escutando...</h1>
  <p *ngIf="stage === 1" class="lead">
    <button disabled class="btn btn-lg btn-default">Pronto</button>
  </p>
  <p *ngIf="stage === 2" class="lead">
    <button disabled class="btn btn-lg btn-warning">Escutando...</button>
  </p>
  <p *ngIf="stage === 3 && correto" class="lead">
    <button disabled class="btn btn-lg btn-success"><i class="fa fa-check" aria-hidden="true"></i>
      Correto!</button>
  </p>
  <p *ngIf="stage === 3 && !correto" class="lead">
    <button disabled class="btn btn-lg btn-danger"><i class="fa fa-check" aria-hidden="true"></i>
      Errado!</button>
  </p>
  <h1 *ngIf="stage === 3" class="cover-heading">{{feedback}}</h1>
  <h2 *ngIf="stage === 3" class="cover-heading">Diga "começar" de novo para recomeçar.</h2>
  <div *ngIf="stage === 3" class="row">
    <div class="col-md-12">
      <table style="margin: 0px auto;">
        <tr style="margin: 0; padding: 0">
          <td *ngFor="let word of classifiedPhrase">
            <p style="padding: 10px; border: 1px solid white; border-radius: 30%;
            font-size: 14px; margin: 0; padding: 0;">{{obterNome(word)}}</p>
          </td>
        </tr>
        <td style="margin: 0; padding: 0" *ngFor="let word of classifiedPhrase">
          <p style="color: white; margin: 0; padding: 0;">|</p>
        </td>
        <tr>
          <td style="margin: 0; padding: 0" *ngFor="let word of classifiedPhrase">
            <p style="padding: 10px; border: 1px solid white; border-radius: 40%;
            font-size: 14px;">{{obterValorNaoNulo(word)}}</p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
{{ modelo.nome }}
<app-searcher #modelo [modelo]='modelo' [param]="'opa'" (change)="change()">
</app-searcher>